@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* General overflow behavior */
.hide-scrollbar {
  overflow-x: auto; /* Enable horizontal scrolling */
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
}
/* Hide the spinner controls in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner controls in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* .react-datepicker__aria-live,.react-datepicker__time-list{
  display: none;
} */